@media screen and (max-width: 400px) {
    #game-board button{
        width: 4rem;
        height: 4rem;
        padding: 0;
        font-size: 2.5rem;
    }
    #players{
        justify-content: flex-start;
        gap: 1em;
    }
    #players li{
        display: block;
    }
    #player button{
        width: 1em;
    }
    .player{
        padding: .2rem;
    }
    .player-name{
        text-align: left;
    }
    .player input{
        width: 8rem;
    }
    #game-over{
        padding: 0 10px;
    }
}